#navbar {
  color:rgba(1,1,1,1);
}

#contactForm .h4 {
  font-weight:400;
  border-bottom:1px solid silver;
}

.required-input {
  color:maroon;
}

.static-map {
  margin-bottom:20px;
}

@media (max-width: 768px) and (min-width: 767px) {
  #contactForm .static-map img {
    width:100%;
  }
}

@media (min-width: 300px) {
  #navbar {
    background-color:rgba(255,255,255,1);
  }
}

.mx-auto.intro {
  /*margin-top:185px;*/
}

#intro {
  margin-top:100px;
}

